.all {
    display: flex;
}



















button {
    position: absolute;
    height: 2rem;
    width: 100px;
    bottom: 10%;
    
}
.button2{
    right: 70%;
}
.button1{
    left: 70%
}
footer {
    display: flex;
    bottom: 0%
}
